- provide(:title, "Edit user")
%h1 Update your profile

= render "shared/error_messages", object: @user
.form-signin
  = render("form", user: @user, button_text: "Save changes")
  .gravatar_edit
    = gravatar_for @user
    %a{ href: "http://gravatar.com/emails", target: "_blank" } change
