.stats
  = link_to following_user_path(user) do
    %strong.stat#following
      = user.following.count
    following
  = link_to followers_user_path(user) do
    %strong.stat#followers
      = user.followers.count
    followers
